*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
h1,h2,h3,h4,h5{
    font-size: 35px;
}
header{
    width: 99.5;
    height: 80px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 40px;
    margin: 4px;
}
nav{
    width: 99.5;
    height: 40px;
    background-color: turquoise;
    text-align: center;
    padding-top: 4px;
    margin: 4px;
}
aside{
    float: left;
    background-color: yellow;
    width: 25%;
    height: 240px;
    text-align: center;
    padding-top: 110px;
    margin: 0px 4px;
}
main{
    background-color: wheat;
    width: 99.5;
    height: 340px;
    text-align: center;
    padding-top: 10px;
    margin: 0px 4px;
}
footer{
    width: 98;
    height: 70px;
    background-color: green;
    margin: 4px;
    text-align: center;
    padding-top: 30px;
}